.player_container_section {
  p {
    margin: 0;
  }

  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  //   height: 80vh;
  // z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  @media screen and (min-width: 768px) {
    width: 50%;
  }
  .music_data {
    width: 260px;
  }
  .Music_controller {
    .music_range {
      input {
        width: 65%;
      }
      input[type="range"] {
        -webkit-appearance: none;
        appearance: none;
        background: black;
        cursor: pointer;
        border-radius: 10px;
        padding: 3px;
        // width: 15rem;
      }

      input[type="range"]::-webkit-slider-thumb {
        box-shadow: 1px 1px 1px #000031;
        border: 1px solid #00001e;
        height: 15px;
        width: 15px;
        border-radius: 15px;
        background: #ffffff;
        cursor: pointer;
        -webkit-appearance: none;
        // margin-top: -8px;
      }
    }
  }
}
