@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1618609377864-68609b857e90?q=80&w=2128&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
   background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

